DB_HOST=db
DB_PORT=3306
DB_NAME=internationalweek
DB_USER=root
DB_PASSWORD=PingFin2026!
APP_CONTAINER_NAME=cb_app
DB_CONTAINER_NAME=cb_db
APP_PORT=8080
PORT=80
TEAM_NAME=PingFin Clearing Bank Team 2
TEAM_BIC=AXABBE22
TEAM_MEMBERS=Emirhan,Rania,Arda,Denzl
